.git
.gitignore
.venv
__pycache__/
*.py[cod]

APP/resources/checkpoints/
APP/resources/logs/
APP/resources/models/
APP/resources/runtimes/
APP/resources/tokenizers/

APP/client/node_modules/
APP/client/dist/
APP/client/dist-ssr/

assets/
tests/
