.git
.gitignore
.venv
__pycache__/
*.py[cod]

ParaGraph/resources/checkpoints/
ParaGraph/resources/logs/
ParaGraph/resources/models/
ParaGraph/resources/runtimes/
ParaGraph/resources/tokenizers/

ParaGraph/client/node_modules/
ParaGraph/client/dist/
ParaGraph/client/dist-ssr/

assets/
tests/
